---
import Layout from "../layouts/Layout.astro";

const color_options = [
  "purple",
  "blue",
  "green",
  "yellow",
  "orange",
  "red",
  "white",
  "black",
  "grey",
];

const variants = ["darker", "dark", "medium", "light", "lightest"];
---

<Layout>
  <div class="container">
    <h1>Colors</h1>

    {
      color_options.map((opt) => (
        <>
          <h2>{opt}</h2>
          <div class="colors__row">
            <div class="colors__item" style={`--bg-color: var(--color-${opt})`}>
              {opt}
            </div>
            {variants.map((v) => (
              <div
                class="colors__item"
                style={`--bg-color: var(--color-${opt}-${v})`}
              >
                {v}
              </div>
            ))}
          </div>
        </>
      ))
    }
  </div>
</Layout>

<style>
  .colors__row {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
  }

  .colors__item {
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
  }
</style>
